body{
    background-color: #ffffff;
    max-width: 760px;
    margin: auto;
}
#newInput {
}
#userInfo {
    // border: 3px lightgreen solid;
}
// #loginInfo {
    // border: 3px lightcoral solid;
// }
footer{
    margin-top: 20px;
}

.hideDiv{
    display: none;
}