/*.testBorderRed{
  border: 3px solid red;
}
.testBorderGreen{
  border: 3px solid green;
}
.testBorderBlue{
  border: 3px solid blue;
}*/
.marginTop{
  margin-top: 1rem;
}
.marginLeft{
  margin-top: 1rem;
}
.marginRight{
  margin-top: 1rem;
}
.marginBottom{
  margin-top: 1rem;
}
.value{
  font-weight: bold;
  color: green;
}

/*---------------------------------Styling------------------------------------*/
html{
  background-color: black;
}
body{
  padding: 3rem;
  width: 70vw;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: auto;
  margin-right: auto;
}
#caloriesBar p{
  color: white;
  background-color: black;
  text-align: center;
  width: 8%;
}
