body{
    background-color: #ffffff;
}
// #newInput {
    // border: 3px lightblue solid;
// }
#userInfo {
    // border: 3px lightgreen solid;
}
// #loginInfo {
    // border: 3px lightcoral solid;
// }
footer{
    margin-top: 20px;
}

.hideDiv{
    display: none;
}